composer.phar
/vendor/
composer.lock
.phpunit.result.cache
.phpunit.result
.idea/
baseTest

error_log
*.env
*.env.php
!src/Tenant/env.sample.env
storage
public_assets/dev

*.zip
*.rar
*.7z
*.bk
*.log
