<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Autoframe CORE">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Package Dependencies Autoframe/*">
            <directory>*/autoframe/*/Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="AFR_ENV" value="phpunit" force="true" />
    </php>
</phpunit>